<div class="my-5 shadow-lg p-5 rounded-5">
  <h2 class="mb-3">Reset password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm)">
    <div *ngIf="errorMessage.length" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <div class="mb-3">
      <label for="email" class="mb-2">Email</label>
      <input
        [class.is-invalid]="
          resetForm.get('email')?.errors && resetForm.get('email')?.touched
        "
        [class.is-valid]="resetForm.get('email')?.errors == null"
        type="email"
        formControlName="email"
        id="email"
        class="form-control"
      />
      <div
        *ngIf="
          resetForm.get('email')?.errors && resetForm.get('email')?.touched
        "
        class="alert alert-danger my-1"
      >
        <p class="m-0" *ngIf="resetForm.get('email')?.getError('required')">
          required
        </p>
        <p class="m-0" *ngIf="resetForm.get('email')?.getError('email')">
          Enter Valid Email
        </p>
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="mb-2">Password</label>
      <input
        [class.is-invalid]="
          resetForm.get('newPassword')?.errors &&
          resetForm.get('newPassword')?.touched
        "
        [class.is-valid]="resetForm.get('newPassword')?.errors == null"
        type="password"
        id="password"
        formControlName="newPassword"
        class="form-control"
      />
      <div
        *ngIf="
          resetForm.get('newPassword')?.errors &&
          resetForm.get('newPassword')?.touched
        "
        class="alert alert-danger my-1"
      >
        <p
          class="m-0"
          *ngIf="resetForm.get('newPassword')?.getError('required')"
        >
          required
        </p>
        <p
          class="m-0"
          *ngIf="resetForm.get('newPassword')?.getError('pattern')"
        >
          enter a valid password
        </p>
      </div>
    </div>

    <button
      [disabled]="resetForm.invalid"
      type="submit"
      class="btn btn-success px-3"
    >
      <span *ngIf="isLoading">
        <i class="fa-solid fa-spinner fa-spin"></i>
      </span>
      Confirm
    </button>
  </form>
</div>
