<div class="forgotPassword my-5 shadow-lg p-5 rounded-5">
  <form
    class="w-75 mx-auto"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="forgotPassword(forgotPasswordForm)"
  >
    <div class="mb-3">
      <label for="email" class="mb-2">Email</label>
      <input
        [class.is-invalid]="
          (forgotPasswordForm.get('email')?.errors &&
            forgotPasswordForm.get('email')?.touched) ||
          errorMessage
        "
        [class.is-valid]="forgotPasswordForm.get('email')?.errors == null"
        type="email"
        formControlName="email"
        id="email"
        class="form-control"
      />
      <p *ngIf="successMessage" class="text-success my-2">
        {{ successMessage }}
      </p>
      <p *ngIf="errorMessage" class="text-danger my-2">
        {{ errorMessage }}
      </p>
      <div
        *ngIf="
          forgotPasswordForm.get('email')?.errors &&
          forgotPasswordForm.get('email')?.touched
        "
        class="alert alert-danger my-1"
      >
        <p
          class="m-0"
          *ngIf="forgotPasswordForm.get('email')?.getError('required')"
        >
          required
        </p>
        <p
          class="m-0"
          *ngIf="forgotPasswordForm.get('email')?.getError('email')"
        >
          Enter Valid Email
        </p>
      </div>
    </div>
    <button class="btn bg-main float-end text-light">Send Code</button>
  </form>
</div>

<div class="verfiyCode my-5 shadow-lg p-5 rounded-5 d-none">
  <form
    class="w-75 mx-auto"
    [formGroup]="verfiyForm"
    (ngSubmit)="verfiyCode(verfiyForm)"
  >
    <label for="verfiyCode" class="mb-2">verfiyCode</label>
    <input
      [class.is-invalid]="
        (verfiyForm.get('resetCode')?.errors &&
          verfiyForm.get('resetCode')?.touched) ||
        errorMessage
      "
      [class.is-valid]="verfiyForm.get('resetCode')?.errors == null"
      type="text"
      formControlName="resetCode"
      id="verfiyCode"
      class="form-control"
    />
    <p *ngIf="successMessage" class="text-success my-2">
      {{ successMessage }}
    </p>
    <p *ngIf="errorMessage" class="text-danger my-2">
      {{ errorMessage }}
    </p>
    <div
      *ngIf="
        verfiyForm.get('resetCode')?.errors &&
        verfiyForm.get('resetCode')?.touched
      "
      class="alert alert-danger my-1"
    >
      <p class="m-0" *ngIf="verfiyForm.get('resetCode')?.getError('required')">
        required
      </p>
    </div>
    <button class="btn bg-main float-end text-light my-2">verfiy Code</button>
  </form>
</div>
